<div class="main">
  <div class="content-container">
    <h2>Email confirmation</h2>
    <p>Please verify your email address to continue enjoying the wonders of Aperture Science!</p>
    <p>If you haven't received the verification email, you can click the button below to resend it:</p>
    <button mat-raised-button color="accent" (click)="resendEmail()">Resend Verification Email</button>
    <p class="message">If the email still doesn't arrive, please check your spam folder or wait patiently while our patented AI pigeons deliver it to you.</p>
    <button mat-raised-button color="accent" routerLink="/main">Go to Main Page</button>
    <p class="message">You pressed the confirm button. Great! Now you can login and enjoy the wonders of Aperture Science products.</p>
  </div>
</div>
