<div class="main">
  <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="logo">
        <img src="assets/img/logo.png" alt="Aperture Science Logo" height="128" width="128">
        <h2>Aperture Science Registration Form</h2>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Username (Don't make it GLaDOS' job to remember you):</mat-label>
        <input matInput type="text" formControlName="username" name="username" required >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email (We won't send you spam, we promise!):</mat-label>
        <input matInput type="email" formControlName="email" name="email"  required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password (Its completely safe with us!):</mat-label>
        <input matInput type="password" formControlName="password" name="password" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password (Or face the neurotoxin!):</mat-label>
        <input matInput type="password" formControlName="confirmPassword" name="confirmPassword" required >
        <mat-error *ngIf="passwordMismatch">Passwords do not match.</mat-error>
      </mat-form-field>
      <div class="check-box">
        <mat-checkbox formControlName="terms" required>
          I agree to all Aperture Science terms of service
        </mat-checkbox>
      </div>
      <button mat-raised-button type="submit" color="accent" [disabled]="registerForm.invalid">
        Register and Join the Enrichment Center!
      </button>
      <button mat-raised-button type="submit" class="cancel-button" color="warn" (click)="cancel()">
        Cancel
      </button>
    </form>
  </div>
</div>
